body {
  background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#time-holder {
  font-family: 'Roboto Mono', monospace;
  font-size: 15vw;
  color: #CE4A7EFF;
  padding-top: 15vh;
  transition: 0.5s;
}

#time-holder:hover{
  color: #3EE0CBFF;
  font-size: 17vw;
}

.button-controller {
  font-size: 3vw;
  color: #CE4A7EFF;
  transition: 0.3s;
}

.button-controller:hover {
  color: #3EE0CBFF;
  font-size: 4vw;
}